<serverSettings>
    <add key="ExposedHttpUrl" value="http://127.0.0.1:5600/" />
    <add key="DatabaseConnectionstring"
         value="Server=localhost;Database=cmsc495_team3;Uid=cmsc495Team3ServerApp;Pwd=cmsc495Team3ServerApp;" />
    <!--<add key="DatabaseConnectionstring" value="server=127.0.0.1;uid=cmsc495Team3ServerApp;pwd=cmsc495Team3ServerApp;database=cmsc495_team3;"/>-->
</serverSettings>